# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vscode configuration files
.vscode
.settings
.classpath
.project


# Eclipse configuration files
.metadata

# Eclipse Bin files
**/bin

# Maven Target Files
**/target/surefire-reports/
**/target/maven*/
**/target/generated*/
**/target/*classes/